<div id="<%= dom_id team %>">
  <p>
    <strong><%= t 'models.team.name'%>:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong><%= t 'models.team.description'%>:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong><%= t 'models.team.team_members'%>:</strong>
    <%= team.team_members %>
  </p>

  <p>
    <strong><%= t 'models.team.team_lead'%>:</strong>
    <%= team.team_lead %>
  </p>

  <p>
    <strong><%= t 'models.team.division_id'%>:</strong>
    <%= team.division_id %>
  </p>

</div>
