<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to t('links.edit this team'), edit_team_path(@team), class:"btn btn-secondary" %> 
  <%= link_to t('links.back to teams'), teams_path, class:"btn btn-dark"  %>
  <br>
  <br>
  <%= button_to t('links.destroy this team'), @team, method: :delete , class:"btn btn-secondary"%>
</div>
