<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t 'models.employee.name', default: 'Name'%>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t 'models.employee.email'%>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t 'models.employee.job'%>:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t 'models.employee.salary'%>:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong><%= t 'models.employee.employment_status'%>:</strong>
    <%= employee.employment_status %>
  </p>

  <p>
    <strong><%= t 'models.employee.team_id'%>:</strong>
    <%= employee.team_id %>
  </p>

</div>
