<h1><%= t 'models.employee.Employee list'%></h1>

<table class="table table-striped table-bordered table-hover">

  <thead class="table-dark">
  <tr>
    <th><%= t 'models.employee.name'%></th>
    <th><%= t 'models.employee.email'%></th>
    <th><%= t 'models.employee.job'%></th>
    <th><%= t 'models.employee.salary'%></th>
    <th><%= t 'models.employee.employment_status'%></th>
    <th><%= t 'models.employee.team_id'%></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee|%>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.job %></td>
    <td><%= employee.salary %></td>
    <td><%= employee.employment_status %></td>
    <td><%= employee.team_id %></td>
    <td><%= link_to t('links.show'), employee %></td>
    <td><%= link_to t('links.edit'),  edit_employee_path(employee) %></td>
    <td><%= link_to t('links.destroy'), employee, method: :delete, data: { confirm: 'Are you sure?'} %></td>
  </tr>

  <%end%>

  </tbody>

</table>
<br>


<%= link_to t('links.new employee'), new_employee_path, class:"btn btn-secondary" %>