<h1>Divisions List</h1>

<table class="table table-striped table-bordered table-hover">

  <thead class="table-dark">
  <tr>
    <th><%= t 'models.division.name'%></th>
    <th><%= t 'models.division.description'%></th>
    <th><%= t 'models.division.teams_names'%></th>
    <th><%= t 'models.division.manager'%></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @divisions.each do |division|%>
  <tr>
    <td><%= division.name %></td>
    <td><%= division.description %></td>
    <td><%= division.teams_names %></td>
    <td><%= division.manager %></td>
    <td><%= link_to t('links.show'), division %></td>
    <td><%= link_to t('links.edit'), edit_division_path(division) %></td>
    <td><%= link_to t('links.destroy'), division, method: :delete, data: { confirm: 'Are you sure?'} %></td>
  </tr>

  <%end%>

  </tbody>

</table>
<br>


<%= link_to t('links.new division'), new_division_path, class:"btn btn-secondary" %>