<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
  <%= link_to t('links.edit this division'), edit_division_path(@division), class:"btn btn-secondary"  %> 
  <%= link_to t('links.back to divisions'), divisions_path, class:"btn btn-secondary" %>
  <br>
  <br>
  <%= button_to t('links.destroy this division'), @division, method: :delete, class:"btn btn-dark"  %>
</div>
