


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
      <% if !user_signed_in? %>
        <li class="nav-item">
          <%= link_to t('links.sign up'), new_user_registration_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to t('links.sign in'), new_user_session_path, class:"nav-link" %>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="mx-auto order-0">
          <%= link_to t('links.home'), root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
       <li class="nav-item">
          <%= link_to t('links.edit profile'), edit_user_registration_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
        <%= link_to t('links.sign out'), destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>