<div id="<%= dom_id goal %>">
  <p>
    <strong><%= t 'models.goal.title'%>:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong><%= t 'models.goal.description'%>:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong><%= t 'models.goal.start_date'%>:</strong>
    <%= goal.start_date %>
  </p>

  <p>
    <strong><%= t 'models.goal.finish_date'%>:</strong>
    <%= goal.finish_date %>
  </p>

  <p>
    <strong><%= t 'models.goal.team_name'%>:</strong>
    <%= goal.team_name %>
  </p>

  <p>
    <strong><%= t 'models.goal.goal_status'%>:</strong>
    <%= goal.goal_status %>
  </p>

   <p>
    <strong><%= t 'models.goal.team_id'%>:</strong>
    <%= goal.team_id %>
  </p>

</div>
