<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>
  <%= link_to t('links.edit this goal'), edit_goal_path(@goal), class:"btn btn-secondary" %> 
  <%= link_to t('links.back to goals'), goals_path, class:"btn btn-dark" %>
  <br>
  <br>
  <%= button_to t('links.destroy this employee'), @goal, method: :delete, class:"btn btn-secondary" %>
</div>
